@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to dotnet image !!! </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">webapp of dotnet ???</a>.</p>
</div>
